.nav-bar {
	width: 100%;
	display: flex;
	background-color: #252323;
	color: #F4F4F9;
	justify-content: space-between;
	align-items: center;
}

#game-title {
	margin-left: 20px;
	font-size: 40px;
	font-weight: 500;
}

